<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>06_列表渲染_过滤与排序</title>
</head>
<body>
<!--
1. 列表过滤
2. 列表排序
-->
<div id="dome">
  <input type="text" v-model="searchName">
  <ul>
  <li v-for="(p,index) in filterPersons" :key="index">
    {{index}}--{{p.name}}--{{p.age}}

  </li>
  </ul>
  <button @click="orderType=2">按年龄升序</button>
  <button @click="orderType=3">按年龄降序</button>
  <button @click="orderType=1">原本排序</button>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  new Vue({
    el:'#dome',

    data:{
       persons:[
         {name: 'Tom', age: 14},
         {name: 'Jack', age: 18},
         {name: 'bob', age: 15},
         {name: 'Rose', age: 16}
       ],
      searchName:'',

      orderType:1   // 1:原本排序,2:按年龄降序,3:按年龄升序
    },

    computed:{
        filterPersons(){
          const {persons,searchName,orderType}=this

          let val=persons.filter((p,index)=>p.name.indexOf(searchName)!==-1)

          if(orderType!==1){
            if(orderType===2){
              val.sort((a,p)=>{
                return a.age-p.age
              })
            }else {
              val.sort((a,p)=>{

                return p.age-a.age
              })
            }
          }

         return  val
        }
    }

  })

</script>
</body>
</html>